<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Card Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="memory.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="d-flex flex-row justify-content-center py-3">
            <div class="turns p-3"><span class="btn btn-info">Turns : <span class="badge" :class="finish ? 'badge-success' : 'badge-light'">{{turns}}</span> </span></div>
            <div class="totalTime p-3"><span class="btn btn-info">Total Time : <span class="badge" :class="finish ? 'badge-success' : 'badge-light'">{{min}} : {{sec}}</span></span></div>
            <div class="totalTime p-3"><button class="btn btn-info" @click="reset" :disabled="!start">Restart</button></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-5 mx-auto">
                 <div class="row justify-content-md-center">
                        <div v-for="card in memoryCards" class="col-auto mb-3 flip-container"
                        :class="{ 'flipped': card.isFlipped, 'matched' : card.isMatched  }" @click="flipCard(card)">
                            <div class="memorycard">
                                <div class="front border rounded shadow"><img width="150" height="150" src="./assets/images/memorycard/beachcom.jpg"></div>
                                <div class="back rounded border"><img width="150" height="150" :src="'./assets/images/memorycard/'+card.img"></div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
        el: '#app',
        data:{
                cards: [
                    {
                        name: 'Apple',
                        img: 'cafe.jpg',

                    },
                    {
                        name: 'Banana',
                        img: 'beach.jpg',

                    },
                    {
                        name: 'Orange',
                        img: 'love.jpg',

                    },
                    {
                        name: 'Pineapple',
                        img: 'bestbuy.jpg',

                    },
                    {
                        name: 'Strawberry',
                        img: 'lantern.jpg',

                    },
                    {
                        name: 'watermelon',
                        img: 'rainbow.jpg',

                    },
                ],
                memoryCards: [],
                flippedCards: [],
                finish: false,
                start: false,
                turns: 0,
                totalTime: {
                    minutes: 0,
                    seconds: 0,
                },

            },
            computed:{
                    sec(){
                        if(this.totalTime.seconds < 10){
                            return '0'+this.totalTime.seconds;
                        }
                        return this.totalTime.seconds;
                    },
                    min(){
                        if(this.totalTime.minutes < 10){
                            return '0'+this.totalTime.minutes;
                        }
                        return this.totalTime.minutes;
                    }
            },


        created(){

            this.reset();

            this.cards.forEach((card) => {
                Vue.set(card,'isFlipped',false);
                Vue.set(card,'isMatched',false);
            });

            this.memoryCards = _.shuffle(this.memoryCards.concat(_.cloneDeep(this.cards), _.cloneDeep(this.cards)));
        },


        methods:{
            flipCard(card){

                if(card.isMatched || card.isFlipped || this.flippedCards.length === 2)
                        return;

                if(!this.start){
                    this._startGame();
                }

                card.isFlipped = true;

                if(this.flippedCards.length < 2)
                    this.flippedCards.push(card);
                if(this.flippedCards.length === 2)
                    this._match(card);

                if(this.memoryCards.every(card => card.isMatched === true)){
                    clearInterval(this.interval);
                    this.finish = true;
                }
            },

            _startGame(){
                this._tick();
                this.interval = setInterval(this._tick,1000);
                this.start = true;
            },

            _tick(){
                if(this.totalTime.seconds !== 59){
                    this.totalTime.seconds++;
                    return
                }

                this.totalTime.minutes++;
                this.totalTime.seconds = 0;
            },

            _match(card){
                this.turns++;
                if(this.flippedCards[0].name === this.flippedCards[1].name){
                    setTimeout(() => {
                        this.flippedCards.forEach(card => card.isMatched = true);
                        this.flippedCards = [];

                    //All cards matched ?
                    if(this.memoryCards.every(card => card.isMatched === true)){
                        this.finish = true;
                    }
                    }, 400);
                }
                else{
                    setTimeout(() => {
                        this.flippedCards.forEach((card) => {card.isFlipped = false});
                        this.flippedCards = [];
                    }, 800);
                }
            },

            reset(){
                clearInterval(this.interval);

                this.cards.forEach((card) => {
                    Vue.set(card, 'isFlipped',false);
                    Vue.set(card, 'isMatched',false);
                });

                setTimeout(() => {
                    this.memoryCards = [];
                    this.memoryCards = _.shuffle(this.memoryCards.concat(_.cloneDeep(this.cards), _.cloneDeep(this.cards)));
                    this.totalTime.minutes = 0;
                    this.totalTime.seconds = 0;
                    this.start = false;
                    this.finish = false;
                    this.turns = 0;
                    this.flippedCards = [];

                    }, 600);

            },
        }

        });


    </script>
</body>
</html>
